<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title id="title"></title>
		<link rel="stylesheet" href="styles/semantic.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="styles/semantic.js"></script>
	</head>
	<body style="background: #f8f8f8;	font-family: 'Ubuntu' !important;">
		<div id="app">
			<div class="ui centered stackable grid container">
				
				<div class="row" style="margin-top: 15px;">

					<!-- PROFIL -->
					<div class="four wide stretched compact column">
						<div class="ui top attached inverted compact segment">
							<div class="ui center aligned icon header" style="color: white">
								<img :src="avatar_photo" class="ui circular image" style="border: 2px solid white;width:50%;margin-bottom: 10px;">
								<div class="content">
									{{profil.displayname}}
									<div class="sub header" style="color:lightgrey;">{{profil.jobtitle[retrieveLang]}}</div>
								</div>
								<br>
								<div class="ui inverted secondary menu three item">
									<a class="item" :class="{'active':current_lang==='fr'}" @click="current_lang='fr'">
										<i class="fr flag"></i> Fr
									</a>
									<a class="item" :class="{'active':current_lang==='en'}" @click="current_lang='en'">
										<i class="gb flag"></i> En
									</a>
									<!--<a class="item" :class="{'active':current_lang==='es'}" @click="current_lang='es'">
										<i class="es flag"></i> Es
									</a>-->
								</div>
							</div>
						</div>
						<div class="ui attached grey inverted compact segment">
							<div class="ui link list">
								<a :href="'mailto:'+profil.mail" class="item" style="color: white; margin: 10px 0px 10px 0px;">
									<i class="mail icon" style="color: white;"></i>
									{{profil.mail}}
								</a>
								<a href="#" class="item" style="color: white;  margin: 10px 0px 10px 0px;">
									<i class="phone icon" style="color: white;"></i>
									{{profil.tel}}
								</a>
								<a :href="profil.web.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="world icon" style="color: white;"></i>
									{{profil.web.label}}
								</a>
								<a :href="profil.twitter.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="twitter icon" style="color: white;"></i>
									{{profil.twitter.label}}
								</a>
								<a :href="profil.linkedin.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="linkedin icon" style="color: white;"></i>
									{{profil.linkedin.label}}
								</a>
							</div>
							<br />
							<a class="ui mini primary button fluid" :href="profil.cv.link[retrieveLang]" target="_blank">

								<h5>{{profil.cv.label[retrieveLang]}}</h5>
							</a>
						</div>
						<div class="ui attached grey inverted compact segment">
							<h3>{{config.page_text.languages[retrieveLang]}}</h3>
							<div class="ui list">
								<div href="" class="item" v-for="lang in profil.lang" style="color: white; margin: 10px;">
									{{lang.label[retrieveLang]}}
									<div class="ui star mini rating right floated" :data-rating="lang.level" data-max-rating="5"></div>
								</div>
							</div>
						</div>	
						<div class="ui bottom attached grey inverted compact segment">
							<h3>{{config.page_text.hobbits[retrieveLang]}}</h3>
							<div class="ui list">
								<div href="" class="item" v-for="hobbit in profil.hobbits[retrieveLang]" style="color: white; margin: 10px;">
									{{hobbit}}
								</div>
							</div>
						</div>	
					</div>

					<!-- CV -->
					<div class="twelve wide stretched column">
						<div class="ui segment">
							
							<!-- RESUME -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="comment outline icon" style="color: #f0ad4e;"></i>
									{{config.page_text.resume[retrieveLang]}}
								</h3>
								<p style="text-align: justify;" v-html="profil.resume[retrieveLang]"></p>
							</div>

							<!-- EXP -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="building outline icon" style="color: #f0ad4e;"></i>
									{{config.page_text.experiences[retrieveLang]}}
								</h3>

								<div class="ui basic secondary segment" v-for="exp in experiences">
									<h4 class="ui header">
										<div class="content" style="color: #f0ad4e;">{{exp.titlejob[retrieveLang]}}</div>
										<div class="sub header">{{exp.enterprise[retrieveLang]}}</div>
										<div class="sub header">
											{{exp.dates.start}} - {{(exp.dates.end === undefined)?"Today":exp.dates.end}}
										</div>
									</h4>
									<div class="ui tiny list">
										<div class="item" v-for="content in exp.content[retrieveLang]">
											<i class="right triangle icon"></i>
											<div class="content" v-html="content"></div>
										</div>
									</div>	
								</div>

							</div>

							<!-- DIPLOMA -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="university icon" style="color: #f0ad4e;"></i>
									{{config.page_text.formations[retrieveLang]}}
								</h3>

								<div class="ui basic secondary segment" v-for="formation in formations">
									<h4 class="ui header">
										<div class="content" style="color: #f0ad4e;">{{formation.title[retrieveLang]}}</div>
										<div class="sub header">
											<a :href="formation.schoolURL" target="_blank">
												{{formation.school[retrieveLang]}}
											</a> <span v-show="formation.validation">-</span> 
											<a :href="formation.validation" target="_blank" v-show="formation.validation">
												<i class="arrow alternate circle down outline green icon"></i>
											</a>
										</div>
										<div class="sub header">
											{{formation.dates.start}} - {{(formation.dates.end === undefined)?"Today":formation.dates.end}}
										</div>
									</h4>
								</div>

							</div>

							<!-- CERTIFICATIONS -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="trophy icon" style="color: #f0ad4e;"></i>
									{{config.page_text.certifications[retrieveLang]}}
								</h3>

								<div class="ui basic secondary segment" v-for="cert in certifications">
									<h4 class="ui header">
										<a :href="cert.code" v-show="cert.status" target="_blank">
											<i class="external alternate icon grey" style="float: right;"></i>
										</a>
										<img class="ui image" :src="cert.badge" v-if="cert.badge"></img>
										<div class="content" style="color: #f0ad4e;">
											{{cert.label}}
											<div class="sub header">
												<div class="ui small list">
													<div class="item">
														<i class="calendar alternate outline icon"></i>
														{{(cert.status === 0)?"in progress...":cert.date}}
													</div>
													<a :href="cert.serial.validationURL" target="_blank" class="item" :class="{'disabled':(cert.status === 0)?true:false}">
														<i class="certificate icon"></i>
														{{cert.serial.id || "-"}}
													</a>
												</div>
												
											</div>
										</div>
									</h4>
								</div>

							</div>

							<!-- SKILLS -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="thumbs outline up icon" style="color: #f0ad4e;"></i>
									{{config.page_text.skills[retrieveLang]}}
								</h3>

								<div class="ui list">
									<div v-for="skill in skillOrdered" class="item">
										{{skill.label[retrieveLang]}}
										<div class="ui small progress" style="float: right; width:35%;" :data-value="skill.level" data-total="5">
										  <div class="bar" style="background-color: #f0ad4e;text-align: center;">
										  </div>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="ui basic center aligned segment">
							{{config.copyright}}
						</div>

					</div>

				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
	<script type="text/javascript" src="./datas/config.js"></script>
	<script type="text/javascript" src="./datas/certifications.js"></script>
	<script type="text/javascript" src="./datas/experiences.js"></script>
	<script type="text/javascript" src="./datas/formations.js"></script>
	<script type="text/javascript" src="./datas/skills.js"></script>
	<script type="text/javascript" src="./datas/profil.js"></script>

	<!-- Vue Core -->
	<script type="text/javascript">

        new Vue({
			el: "#app",
			data: {
				config,
				certifications,
				experiences,
				formations,
				profil,
				skills,

				current_lang: config.langs.default
			},
			computed: {
				skillOrdered: function(){
					return skills.sort(function(a,b){
						return ~~(a['label'] > b['label']);
					});
				},
				avatar_photo: function(){
					let hash_mail = md5(profil.mail);
					let gravatar_url = "https://www.gravatar.com/avatar/"+hash_mail+"?s=200";
					return (profil.gravatar===true)?gravatar_url:profil.photo;
				},
				retrieveLang: function(){
				    return "lang_"+this.current_lang;
				},
				getCurrentLang: function(){
					for(lang in config.langs.available){
						if(navigator.language.startsWith(config.langs.available[lang])){
							return config.langs.available[lang];
						}
					}

					return config.langs.default;
				}


			},

			mounted: function(){
			    //console.log(formations);
				$("#title").text(profil.displayname);

				console.log("Navigator: "+navigator.language);
				console.log("Site will use the lang: "+this.current_lang);

			}

		});
		$('.ui.star.rating').rating({interactive: false});
		$('.ui.progress').progress({
			autoSuccess: false,
			showActivity: false
		});
	</script>

</html>
