<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Thomas DEPRETZ</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
	</head>
	<body style="background: #f8f8f8;	font-family: 'Ubuntu' !important;">
		<div id="app">
			<div class="ui centered stackable grid container">
				
				<div class="row" style="margin-top: 15px;">

					<!-- PROFIL -->
					<div class="four wide stretched compact column">
						<div class="ui top attached inverted compact segment">
							<div class="ui center aligned icon header" style="color: white">
								<img :src="avatar_photo" class="ui circular image" style="border: 2px solid white;width:50%;margin-bottom: 10px;">
								<div class="content">
									{{config.profil.displayname}}
									<div class="sub header" style="color:lightgrey;">{{config.profil.jobtitle}}</div>
								</div>
							</div>
						</div>
						<div class="ui attached grey inverted compact segment">
							<div class="ui link list">
								<a :href="'mailto:'+config.profil.mail" class="item" style="color: white; margin: 10px 0px 10px 0px;">
									<i class="mail icon" style="color: white;"></i>
									{{config.profil.mail}}
								</a>
								<a href="#" class="item" style="color: white;  margin: 10px 0px 10px 0px;">
									<i class="phone icon" style="color: white;"></i>
									{{config.profil.tel}}
								</a>
								<a :href="config.profil.web.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="world icon" style="color: white;"></i>
									{{config.profil.web.label}}
								</a>
								<a :href="config.profil.twitter.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="twitter icon" style="color: white;"></i>
									{{config.profil.twitter.label}}
								</a>
								<a :href="config.profil.linkedin.link" class="item" style="color: white;  margin: 10px 0px 10px 0px;" target="_blank">
									<i class="linkedin icon" style="color: white;"></i>
									{{config.profil.linkedin.label}}
								</a>
							</div>
							<br />
							<a class="ui mini button fluid" :href="config.profil.cv.link" target="_blank" style="background-color: #f0ad4e; border-color: #eea236;color: black;">
								<h5>{{config.profil.cv.label}}</h5>
							</a>
						</div>
						<div class="ui attached grey inverted compact segment">
							<h3>Languages</h3>
							<div class="ui list">
								<div href="" class="item" v-for="lang in config.profil.lang" style="color: white; margin: 10px;">
									{{lang.label}}
									<div class="ui star mini rating right floated" :data-rating="lang.level" data-max-rating="5"></div>
								</div>
							</div>
						</div>	
						<div class="ui bottom attached grey inverted compact segment">
							<h3>Hobbits</h3>
							<div class="ui list">
								<div href="" class="item" v-for="hobbit in config.profil.hobbits" style="color: white; margin: 10px;">
									{{hobbit}}
								</div>
							</div>
						</div>	
					</div>

					<!-- CV -->
					<div class="twelve wide stretched column">
						<div class="ui segment">
							
							<!-- RESUME -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="comment outline icon" style="color: #f0ad4e;"></i>
									Resume
								</h3>
								<p style="text-align: justify;">{{config.resume}}</p>
							</div>

							<!-- EXP -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="building outline icon" style="color: #f0ad4e;"></i>
									Experiences
								</h3>

								<div class="ui basic secondary segment" v-for="exp in config.exps">
									<h4 class="ui header">
										<div class="content" style="color: #f0ad4e;">{{exp.titlejob}}</div>
										<div class="sub header">{{exp.enterprise}}</div>
										<div class="sub header">
											{{exp.dates.start}} - {{(exp.dates.end === undefined)?"Today":exp.dates.end}}
										</div>
									</h4>
									<div class="ui tiny list">
										<div class="item" v-for="content in exp.content">
											<i class="right triangle icon"></i>
											{{content}}
										</div>
									</div>	
								</div>

							</div>

							<!-- DIPLOMA -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="university icon" style="color: #f0ad4e;"></i>
									Formations
								</h3>

								<div class="ui basic secondary segment" v-for="formation in config.formations">
									<h4 class="ui header">
										<div class="content" style="color: #f0ad4e;">{{formation.title}}</div>
										<div class="sub header">{{formation.school}}</div>
										<div class="sub header">
											{{formation.dates.start}} - {{(formation.dates.end === undefined)?"Today":formation.dates.end}}
										</div>
									</h4>
								</div>

							</div>

							<!-- CERTIFICATIONS -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="trophy icon" style="color: #f0ad4e;"></i>
									Certifications
								</h3>

								<!--<div class="ui basic secondary segment" v-for="cert in config.certs">
									<h4 class="header">
										<i class="large icon" :class="{'meh':(cert.status===0)?true:false,'green smile':(cert.status===1)?true:false}" style="float: right;"></i>
										<div class="content" style="color: #f0ad4e;">{{cert.label}}</div>
										<div class="sub header">{{(cert.status === 0)?"in progress...":cert.date}}</div>
									</h4>
								</div>-->

								<div class="ui basic secondary segment" v-for="cert in config.certs">
									<h4 class="ui header">
										<a :href="cert.code" v-show="cert.status" target="_blank">
											<i class="large green checkmark icon" style="float: right;"></i>
										</a>
										<img class="ui image" :src="cert.badge" v-if="cert.badge"></img>
										<div class="content" style="color: #f0ad4e;">
											{{cert.label}}
											<div class="sub header">{{(cert.status === 0)?"in progress...":cert.date}}</div>
										</div>
									</h4>
								</div>

							</div>

							<!-- SKILLS -->
							<div class="ui basic segment">
								<h3 class="ui header">
									<i class="thumbs outline up icon" style="color: #f0ad4e;"></i>
									Skills
								</h3>

								<div class="ui list">
									<div v-for="skill in skillOrdered" class="item">
										{{skill.label}}
										<div class="ui small progress" style="float: right; width:35%;" :data-value="skill.level" data-total="5">
										  <div class="bar" style="background-color: #f0ad4e;text-align: center;">
										  </div>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="ui basic center aligned segment">
							Copyright © Thomas DEPRETZ - all rights reserved
						</div>

					</div>

				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
	<script type="text/javascript" src="./config.js"></script>
	
	<!-- Vue Core -->
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				config: config
			},
			computed: {
				skillOrdered: function(){
					return config.skills.sort(function(a,b){
						return ~~(a['label'] > b['label']);
					});
				},
				avatar_photo: function(){
					let hash_mail = md5(this.config.profil.mail);
					let gravatar_url = "https://www.gravatar.com/avatar/"+hash_mail+"?s=200";
					return (this.config.profil.gravatar===true)?gravatar_url:this.config.profil.photo;
				}
			}
		});
		$('.ui.star.rating').rating({interactive: false});
		$('.ui.progress').progress({
			autoSuccess: false,
			showActivity: false
		});
	</script>

</html>
